{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "exclude": ["@babel/plugin-transform-typeof-symbol"]
            }
        ]
    ],
    "ignore": ["node_modules"],
    "comments": false
}
